/*
Project Name: Savings Group Infographic
Author: Jamie B. Falik
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* Body and Links
/*******************************************/

.section-one {
  background: url(../images/cover_image5.jpg);
] background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.section-one-text {
  color: #efecec;;
  text-align: center;
  margin-top: 675px;
  margin-bottom: 255px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

.opening {
  font-size: 20px;
}

p {
  font-size: 20px;
}

.section-two {
  background: url(../images/sprinkles.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-two-text, .section-three-text{
  margin-top: 175px;
  margin-bottom: 140px;
}

.section-two-text h1,  .section-three-text h1{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.example {
  margin-top: 55px;
}

.map {
  float: right;
}

.light {
  float: left;
  margin-right: 30px;
}

.section-three {
  background: url(../images/fiber.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}











